%li{:id => "Post-#{post.id}"}
  = link_to gravatar_for(post.user, size: 50), post.user
  %span.user= link_to post.user.name, post.user
  %span.content= post.content
  %span.timestamp
    Posted #{time_ago_in_words(post.created_at)} ago.
    - if current_user?(post.user)
      =link_to 'Delete', post, method: :delete, data: { confirm: "Yes sure?"}